body {
    /* Must change when we put in logo */
    padding-top: 111px;
    overflow: hidden;
}

.navbar-fixed-top{
    background-color: white;
}

/* Makes the element take up the entire height of the screen */
.full-height{
    /* Must change when we put in logo */
    height: -o-calc(100vh - 111px); /* opera */
    height: -webkit-calc(100vh - 111px); /* google, safari */
    height: -moz-calc(100vh - 111px); /* firefox */
}

#id1 {
    background-color: red;
}
#id2 {
    background-color: blue;
}

#id3 {
    background-color: yellow;
}
#id4 {
    background-color: green;
}

#id5 {
    background-color: purple;
}

#nav {
    position: fixed;
    z-index: 99;
    right: 0;
    top: 50%;
    bottom: 50%;
    padding: 20px;
}

.vert-nav {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.checked a{
    color: black;
}
